@charset "UTF-8";

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  background-color: #ffffff;
  margin: auto;
  width: 400px;
  padding: 10px 10px 10px 10px;
  margin-top:30px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 85%;
  overflow-wrap: break-word;
}

h3 {
  word-break: break-all;
  padding-bottom: 15px;
}

.top img {
  width: 200px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top span {
  margin: 5px;
  font-size: 1.5em;
}

.top a {
  text-decoration: none;
  color: #000000;
}
  

.test {
  clear: both;
}

.clearButton {
  border: 2px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4CAF50;;
}

.clearButton:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.clearButton:focus {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.clearButton:active {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}


.btnContainer {
  text-align:center; 
  display:block;
}

#showButton {
  display:none;
}

#withoutButton {
  display:none;
}