<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
  <link rel="stylesheet" href="/static/css/main.css" />
  <title>Tapaas: Login Error</title>
</head>

<body>
  <div class="top">
    <a href="https://www.tapaas.com/"><img src="/static/img/Tapaas650x249.png" /></a>
  </div>

  <h2>Login Error</h2>
  <h3 id="errorMsg">{{ .Msg }}</h3>

  {{ if .Testing }}
  <p class="test">
  <h2>-- test mode --</h2>
  The config file includes <code>testing: true</code>
  <p />
  All 302 redirects will be captured and presented as links here

  <p />
  If you received one of the following errors, you can clear your browser's cookies and try logging in again:
  <p />
  <ul style="list-style-type:disc;">
    <li>too many redirects</li>
    <li>invalid auth session state</li>
  </ul>
  <p />

  </br>
  For any other error messages or if you still experience any issues please contact us at <b>support@tapaas.com</b> with
  a screenshot of this error message.
  <p />

  <script src="/static/js/script.js"></script>
</body>

</html>