<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
  <link rel="stylesheet" href="/static/css/main.css" />
  <meta name="robots" content="noindex, nofollow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />
  <title>Tapaas: Login Error</title>
</head>

<body>
  <div class="top">
    <a href="https://www.tapaas.com/"><img src="/static/img/Tapaas650x249.png" /></a>
  </div>

  <div>
    <h2>Login Error</h2>
    <h3 id="errorMsg">{{ .Msg }}</h3>

    {{ if .Testing }}
    <p class="test">
    <h2>-- test mode --</h2>
    The config file includes <code>testing: true</code>
    <p />
    All 302 redirects will be captured and presented as links here

    {{ if .TestURLs }}
    {{ range $url := .TestURLs}}
    <ul>
      <li><a href="{{ $url }}">{{ $url }}</a></li>
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}
    
    <p />
    Click on the button below to clear your session and try again.
    <button class="button button1" onclick="clearSession()">Clear your session</button>
    <p />

    </br>
    For any other error messages or if you still experience any issues please contact us at <b>support@tapaas.com</b>
    with a screenshot of this error message.
    <p />
  </div>
  <script src="/static/js/script.js"></script>
</body>

</html>