<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
  <link rel="stylesheet" href="/static/css/main.css" />
  <meta name="robots" content="noindex, nofollow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />
  <title>Tapaas - Session expired</title>
</head>

<body>
  <div class="top">
    <a href="https://www.tapaas.com/"><img src="/static/img/Tapaas650x249.png" /></a>
  </div>

  <div id="showButton">
    <h2>Session expired</h2>

    {{ if .Testing }}
    <p class="test">
    <h2>-- test mode --</h2>
    The config file includes <code>testing: true</code>
    <p />
    All 302 redirects will be captured and presented as links here

    {{ if .TestURLs }}
    {{ range $url := .TestURLs}}
    <ul>
      <li><a href="{{ $url }}">{{ $url }}</a></li>
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}

    <div>
      <p />
      Click the button below to clear your session and login again.
      <div class="btnContainer">
        <button id="clearButton" onclick="clearSessionButton(true)">Clear your session</button>
      </div>
      <p />
      If you have any questions, please contact <b>support@tapaas.com</b>
      with a screenshot of this page <span class="grey">(Code: {{ .Msg }})</span>.
      <p />
    </div>
  </div>

  <div id="forbidden">
    <h2 id="errorMsg">{{ .Msg }}</h2>

    {{ if .Testing }}
    <p class="test">
    <h2>-- test mode --</h2>
    The config file includes <code>testing: true</code>
    <p />
    All 302 redirects will be captured and presented as links here

    {{ if .TestURLs }}
    {{ range $url := .TestURLs}}
    <ul>
      <li><a href="{{ $url }}">{{ $url }}</a></li>
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}

    <div>
      Please contact <b>support@tapaas.com</b>
      to get your account permissions checked.
      <p />
    </div>
  </div>
  <script src="/static/js/script.js"></script>
</body>

</html>